[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysql-client = "*"
install = "*"
mysql-connector-python = "*"
mysqlclient = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
